<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <img src="https://image.ibb.co/hLuXxa/luke_circle_small.png" alt="luke circle small" border="0" />    
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Databases</h4>
      <i class="icon-database"></i>
      <i class="icon-apache"></i>
      <i class="icon-hadoop"></i>
      <p>Building my working knowledge of the Hadoop ecosystem and SQL/NoSQL databases.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="icon-python"></i>
      <i class="fa fa-registered" aria-hidden="true"></i>
      <i class="icon-c"></i>
      <p>Proficency in Python's scientific stack, visualizations, and R's tidyverse. Basic knowledge of C/C++ and Java. </p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="icon-git"></i>
      <i class="icon-aws"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>I am familiar with version control via git, deploying AWS instances for machine learning, and I know my way around linux.</p>
    </div>
  </div>
</div>
